{% extends "customer/index_reg.html"%}
{% block content %}
    {% with c=get_flashed_messages() %}
            {% for msg in c %}
            <p class="alert alert-danger">{{ msg }}</p>
            {% endfor %}
        {% endwith %}
    <form class="row g-3 mb-2" action="" method="post">
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
        <div class="col-md-6 form-floating">
            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First Name">
            <label for="firstname" class="form-label">First Name</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" name="lastname" class="form-control" placeholder="Last Name" >
            <label for="lastname" class="form-label">Last Name</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="email" name="email" class="form-control" placeholder="Email" id="email">
            <label for="email" class="form-label">Email</label>
            <span id="feedback" class="mt-2"></span>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" name="phonenumber" id="phonenumber" class="form-control" placeholder="Phone No.">
            <label for="phonenumber" class="form-label">Phone No.</label>
        </div>
        <div class="col-md-6 mb-3 form-floating">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            <label for="password" class="form-label">Password</label>
        </div>
        <div class="col-md-6 mb-3 form-floating">
            <input type="password" name="confirmpwd" id="confirmpwd" class="form-control" placeholder="Confirm password">
            <label for="confirmpwd" class="form-label">Confirm password</label>
        </div>
        
        <div class="col-md-12 mb-3 text-center">
            <button class="btn btn-warning w-50" type="submit">Register</button>
        </div>

      </form>
    
    <div class=" text-center mt-3">
        <p>Already have an account?<a href="{{url_for('login')}}" class="text-primary">Login</a> Here</p>
    </div>
{% endblock content %}

{% block customjs%}
<script>
    // when the document is ready, and when the user has typed on the input field -onchange, get the csrf and email and send as a json data. make an ajax call. in the route /checkemail, when the response comes back, display in a span under the email. if username is available, no color.if it exists, display the text in danger.
    $(document).ready(function(){
        $('#email').change(function(){
            var useremail = $(this).val()
            var csrf = '{{csrf_token()}}'
            var data2send = {"email":useremail, "csrf_token":csrf}
            // make ajax call here
            $.ajax({
                url:"/checkemail",
                data:data2send,
                type:'POST',
                dataType:'json',
                success:function(response){
                    $('#feedback').html(response['message']) 
                    if (response['status'] == 1){
                        $('#feedback').removeClass()        
                    }else{
                        $('#feedback').addClass('text-danger')
                    }    
                },
                error:function(err){
                    console.log(err)
                }
            })
        })
    })
</script>
{% endblock %}